GEMINI_MODEL=gemini-2.5-flash
MODEL_TEMPERATURE=0.7
GOOGLE_GENAI_USE_VERTEXAI=0
GEMINI_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXX

API_TEMPLATE_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXX
API_TEMPLATE_URL=https://rest.apitemplate.io/v2/
API_TEMPLATE_MD_TO_PDF_ENDPOINT=create-pdf-from-markdown

FILES_PATH=resources/input
RESULTS_PATH=resources/output

INCLUDE_ANSWERS=False

AVOID_IMAGE_READING=False
